h1{
    font-size: 60px;
}

h3{
    font-size: 100px;
}

.familiatexto{
    font-family: "papyrus"; 
    font-size: 15px;
    color: #0751E5;
    text-align: justify;
}

.bodyprincipal {
    
    background-color: chocolate;

}

.headerindex {

    background-color: green;

}

.headerpagina1 {

    background-color: blue;
    
}


.imagenfondo{

    background-image: url(https://www.eltiempo.com/files/article_main/files/crop/uploads/2017/11/01/59fa791b40570.r_1555067232540.0-869-3000-2369.jpeg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.textorojo{
    color: red;
}

table{
    border: 2px solid;
    border-collapse: collapse;
    width: 100%;
}

tr:hover{
    background-color: gray;
}
